body{
    background-color: rgba(16, 13, 20, 0.945);
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    color: rgb(0, 0, 0);
}
.container{
  /*height: 100%;*/
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 250px auto auto;
  grid-template-rows: 75px auto 75px;
  
}

.header{
    grid-column: 1/-1;
    background-color: white;
    text-align: center;
    font-size: larger;
    transition-duration: .7s;
    
}
.header:hover{
    background-color:rgb(131, 131, 226);
    color: white;
}

.left-column{
    grid-column: 1/2;
    
    background-color: rgb(131, 131, 226);
    text-align: center;
    color: white;
    transition-duration: .7s;
}
.left-column:hover{
    background-color: white;
    color: black;
}
.middle-column{
   grid-column: 2/-1;
   background-color: rgb(161, 158, 158);
   transition-duration: .7s;
   
   text-align: center;
}
.middle-column:hover{
    background-color: white;
}
.footer{
        grid-column: 1/-1;
        background-color:white;
        text-align: center;
        transition-duration: .7s;
}
.footer:hover{
    background-color:rgb(131, 131, 226) ;
}

a:hover{
    color: crimson;
    cursor: pointer;
}
/*a:visited{
    color: purple;
}*/

.fas {
    color: crimson;

}

.fas:hover{
    color: cyan;
   transform: rotate(180deg);
}
.far {
    color: crimson;

}

.far:hover{
    color: cyan;
    transform: rotate(180deg);
   
}


@media only screen and (max-width:480px) {
    .container{
        display:block;
        float:none;
       
       
    }
    .left-column{
        width: 100%;
    }

    .middle-column p{
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
        
        
    }

    .container{
        position:relative;
    }
    .left-column{
        position: absolute;
        bottom: -800px;
        background-color: rgb(161, 158, 158);
        transition-duration: .7s;
        text-align: center;
        color:black;
    }
   
    
}


